{% extends "base.html" %}
{% block content %}

    <h1 class="display-3">Books:</h1>

    <br>
    <form action="/user/profile/add" method="POST">
        <div class="form-group">
            <input type="number" name="bookID" value="" placeholder="Book ID" required>
        </div>
        <div class="form-group">
            <input type="number" name="rating" value="" placeholder="Rating (out of 5)" min=0 max=5 required>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit">
        </div>
    </form>
    <br>
    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}

{% endblock %}
