{% extends "base.html" %}
{% block content %}

    <h1 class="display-3">Your ratings:</h1>

    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}
    <br>
    <a href="/books">
        <button class="btn btn-primary m-4">
            Add new rating
        </button>
    </a>
    <br>
    <a href="/profile">
        <button class="btn btn-primary m-4">
            Edit existing rating
        </button>
    </a>
    <br>
    <a href="/user">
        <button class="btn btn-primary m-4">
            Delete existing rating
        </button>
    </a>

{% endblock %}
